<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TickTokCloned.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4FFBABB824C350F800DA2EF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FFBABD124C350FB00DA2EF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FFBABDC24C350FB00DA2EF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
